
<ion-view view-title="Enter City" ng-app="starter" ng-controller="miles">
  <ion-content>
      <center>
      <p>Welcome To the Page</p>
      <p>Please Enter the city Names For Weather Details And Distance</p>
    <div class="list list-inset">
      <input type="text" placeholder="Starting Point" id="cityname">
        <input type="text" placeholder="Ending Point" id="cityname1">
        
        </div>
      
      <button on-touch="onTap()" class="button" ng-click="getdata()">get Weather</button>
          </center>
      </ion-content>
</ion-view>
 